{% extends "base.html"%}
{% block title %}Log-in{% endblock %}

{% block content %}
<h1>Zalogu się</h1>
<div class="module">
  {% if form.errors %}
  <p>Twoja nazwa użytkownika i hasło nie pasują. Proszę spróbuj ponownie.</p>
  {% else %}
  <p>Proszę skorzystać z poniższego formularza do logowania:</p>
  {% endif %}
  <div class="login-form">
    <form action="{% url 'login' %}"  method="POST">
      {% csrf_token %}
        {{ form.as_p }}

      <input type="hidden" name="next" value="{{ next }}" />
      <p><input type="submit" value="Zaloguj się" /></p>
    </form>
  </div>
</div>
{% endblock %}
</title>
</head>

<body>

</body>

</html>